* {
    margin: 0;
    padding: 0;
}

form {
    height: 100vh;
    
    display: grid;
    justify-items: center;
    align-content: center;

    background-color: #9F9F9F;
}

h1 {
    font-size: 62px;
}

label {
    font-size: 42px;
}

#divInputUsuario {
    width: 400px;

    display: grid;
    grid-template-columns: 1fr 10fr;
}

#divInputUsuario::before {
    content: url(../image/do-utilizador-32.png);
    /* 
    https://www.flaticon.com/br/icone-gratis/do-utilizador_11215621
    https://www.flaticon.com/br/autores/arslan-haider
    Arslan Haider
    */
}

#divInputSenha {
    width: 400px;

    display: grid;
    grid-template-columns: 1fr 10fr;
}

#divInputSenha::before {
    content: url(../image/cadeado-trancado-32.png);
    /*
    https://www.flaticon.com/br/icone-gratis/cadeado-trancado_61457
    https://www.flaticon.com/br/autores/freepik
    Freepik
    https://www.freepik.com
    */
}

input {
    height: 32px;
    
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    /* https://getcssscan.com/css-box-shadow-examples - #5 */
}

#divBotoes {
    width: 300px;
    margin-top: 20px;

    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: center;
}

button {
    font-size: 22px;

    height: 52px;
    width: 120px;
    border: 2px solid #000000;
    border-radius: 10px;

    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    /* https://getcssscan.com/css-box-shadow-examples - #5 */
}

button:hover {
    background-color: #2F2F2F;
    color: #FFFFFF;

    transition: 0.2s;
}

button:active {
    height: 47px;
    width: 115px;

    transition: 0.2s;
}





/* --- max-width: 769px --- */

@media (max-width: 769px) {
    h1 {
        font-size: 52px;
    }

    label {
        font-size: 32px;
    }
}





/* --- max-width: 481px --- */

@media (max-width: 481px) {
    h1 {
        font-size: 42px;
    }

    label {
        font-size: 22px;
    }

    #divInputUsuario {
        width: 80vw;
    }

    #divInputUsuario::before {
        content: url(../image/do-utilizador-24.png);
    }

    #divInputSenha {
        width: 80vw;
    }

    #divInputSenha::before {
        content: url(../image/cadeado-trancado-24.png);
    }

    input {
        height: 24px;
    }

    #divBotoes {
        width: 70vw;
        margin-top: 5px;

        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }

    button {
        font-size: 17px;

        height: 42px;
        width: 70vw;
        margin-top: 5px;
    }

    button:active {
        height: 37px;
        width: 65vw;
    }
}